@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: rgba(237, 255, 189, 0.291);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(24, 100%, 89%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 50%, hsla(355, 100%, 94%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(103, 100%, 76%, 0.48) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(18, 100%, 87%, 0.74) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(99, 100%, 76%, 0.4) 0px, transparent 50%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
  height: 10%;
}

#content {
  display: flex;
  width: 100%;
  height: 80%;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 10%;
}
#left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 30%;
  height: 100%;
  /* background-color: yellow; */
  padding: 50px;
}

#left-content h1 {
  font-size: 80px;
  line-height: 0.9;
  font-family: "Playfair Display", serif;
}

#left-content p {
  font-size: 18px;
}

#left-content button {
  padding: 15px 50px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  color: white;
  background: #ff0000;
  background: linear-gradient(
    53deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 136, 0, 1) 100%
  );
}

#right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 70%;
  height: 100%;
}

.card {
  position: relative;
  width: 300px;
  height: 65%;
  background-color: #ff0000;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50px;
}

.card:nth-child(2) {
  margin-top: -50px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  gap: 5px;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.752) 5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.overlay-img h3 {
  color: white;
}

.location {
  display: flex;
  align-items: center;
  color: white;
  gap: 5px;
}
.location i {
  color: tomato;
}

.location p {
  text-transform: uppercase;
  font-size: 10px;
}

#logo {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

#nav-link {
  display: flex;
  gap: 30px;
}

#nav-link a {
  text-decoration: none;
  color: #000;
}

#pagination {
  display: flex;
  gap: 20px;
}

#social {
  display: flex;
  gap: 20px;
}

#social i {
  font-size: 20px;
}

#pagination i {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 15px;
}


.ri-menu-line{
  display: none;
}


@media (max-width:500px) {
    #main{
      height: initial;
    }

    nav p{
      display: none;
    }
    #content{
      flex-direction: column;
    }
    #left-content{
      width: 100%;
    }
    #right-content{
      width: 100%;
      flex-direction: column;
    }
    .card:nth-child(2){
      margin-top: 0;
    }
    .card{
      margin-top: 0;
      width: 80%;
      height: 250px;
    }
    #social{
      display: none;
    }
    #footer{
      margin-top: 20px;
    }
    .ri-menu-line{
  display: initial;
}
#nav-link{
  display: none;
}
}


